@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 1200px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(358, 77%, 19%);
    color: white;
}
a{
    text-decoration: none;
}

header{
    height: 104px;
    background-color: hsl(359, 58%, 39%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo empresa */
    header a img{
        margin-left: 16px;
    }
/* Barra de navegación */
    header nav a{
        color: #fff;
        font-size: 18px;
        padding: 16px;
    }

main{
    min-height: 784px; 
    background-color: hsl(360, 58%, 56%);
}

/* sección hero-banner */
    #hero{
        padding: 88px 56px;
        height: 512px;
        background-image: url(../imgs/hero-banner.jpg);
    }
        #hero h1{
            width: 480px;
            /* margin: 88px 56px; */
            font-size: 40px;
            font-weight: 400;
        }

/* ssección sabores */
    #sabores{
        height: 590px;
        margin-top: 56px;
        background-color: hsl(359, 59%, 65%);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        #sabores article{
            width: 370px;
            height: 526px;
            background-color: hsl(358, 76%, 8%);
        }
            #sabores article h2{
                margin: 16px 24px;
                font-weight: 400;
            }
            #sabores article p{
                margin: 0px 24px 16px 24px;
            }


footer{
    height: 216px;
    background-color: hsl(358, 76%, 8%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* social media */
    footer nav a{
        padding: 12px;
    }
/* teléfono */    
    footer div a{
        width: 294px;
        display: flex;
        align-items: center;
        font-size: 24px;
        color: white;
    }
    footer div a span{
        width: 164px;
    }
    #nro{
        width: 164px;
        display: block;
        font-size: 32px;
    }